  *{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
  }
  .sessao-principal{
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(
      to left,
      rgb(45, 40, 82),
      rgba(48, 128, 169, 0.939)
    );
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

  }

  .titulo-section{
    text-align: center;
    font-size: 30px;
    color: #fff;
    font-family: Georgia, 'Times New Roman', Times,   ;
    text-shadow: 1px 1px .4rem #000;
    text-transform: capitalize;
  }

  .inputs-to-do-list{
    border: solid 1px #fff;
    box-shadow: 2px 2px 1rem #000;
    width: 70%;
    border-radius: .3rem;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
    align-items: center;
  }

  .inputs-to-do-list>.inputs>input[type="text"]{
    border: none;
    padding: 1rem 1rem;
    outline: none;
    border-radius: .4rem;
    margin: 5px;
    width:80%;
  }
  .inputs-to-do-list>.inputs>input[type="button"]{
    border: none;
    margin: 5px;
    width: 100%;
    padding: .4rem .4rem;
    outline: none;
    border-radius: .4rem;
    cursor: pointer;
    color: #fff;
    text-shadow: 1px 1px 5px #000;
    font-size: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #07a;
    transition: all .4s;
  }
  .inputs-to-do-list>input[type="button"]:hover{
    transform: scale(1.1);
    background-color: #fff;
    color: #07a;
    text-shadow: none;
    border: solid 1px #07a;
  }

  .resultado-wrapper{
    position: relative;
    border: none;
    box-shadow: 3px 3px 1rem #000;
    width: 70%;
    display: flex;
    border: solid 1px #fff;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    height: 25rem;
    border-radius: .4rem;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.446);
  }
  
  .resultado-wrapper::-webkit-scrollbar{
    width: 20px;
    border: solid 2px #000;
    border-radius: .4rem;
  }
  .resultado-wrapper::-webkit-scrollbar-thumb{
    background-color: rgb(57, 57, 151);
    border-radius: .7rem;

  }
  .resultado-wrapper::-webkit-scrollbar-track{
    background-color: rgb(77, 117, 134);
    border-radius: .4rem;
  }
  .resultado{
    position: absolute;
    top: 1rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
  }

  .resultado>li{
    position: relative;
    border-radius: .4rem;
    margin: 10px;
    list-style: none;
    height: 4.4rem;
    margin-top: 2rem;
    border: none;
    background-color: rgba(50, 99, 124, 0.667);
    justify-content: center;
    align-items: center;
    width: 110%;
    color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 25px;
  }
  .btn_voltar_port{
    display: block;
    border: none;
    background-color: rgb(37, 39, 53);
    width: 6rem ;
    text-align: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: .4rem .4rem;
    border-radius: .4rem;
    color: #fff;
    transition: all .4s;
    margin: 1rem 0;
    text-decoration: none;
  }
  .btn_voltar_port:hover{
    transform: scale(1.1);
  }

  @media(max-width:385px){
    .titulo-section h1{
      font-size: 25px;
    }
    .inputs-to-do-list{
      width: 230px;
      max-width: 30rem;
    }
    .inputs-to-do-list > input{
      width: 15%;
      font-size: 15px;
      
    }

    .inputs-to-do-list>input[type="button"]{
     font-size: 10px;
     width: 30%;
     position: relative;
     left: -.4rem;
    }
    .inputs-to-do-list>input[type="text"]{
      width: 40%;
      padding: .4rem .4rem;
      position: relative;
      left: -1rem;
    }
    .resultado-wrapper{
      width: 15rem;
    }
    .resultado li{
      font-size: 20px;
      width: 120%;
    }
  } 

  @media(max-width:250px){
    .inputs-to-do-list{
      width: 70%;
      display: flex;
      flex-direction: column;
      justify-self: center;
      align-items: center;
    }
    .inputs-to-do-list>input[type="text"]{
      width: 80%;
      position: relative;
      left: 0rem;
    }

    .resultado-wrapper{
      height: 50%;
      width: 70%;
    }
    .inputs-to-do-list>input[type="button"]{
      width: 80%;
      position: relative;
      left: 0;
    }
  }

