@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300&family=Luckiest+Guy&family=Shojumaru&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300&family=Luckiest+Guy&family=Mochiy+Pop+P+One&family=Shojumaru&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300&family=Lobster&family=Luckiest+Guy&family=Mochiy+Pop+P+One&family=Shojumaru&display=swap');

/*FONTES PREDEFINIDAS*/
:root{
--fonte-title--:"Dongle";
--fonte-subtitle--:"Mochiy Pop P One";
--fonte-buttom--:"Lobster";
}
  /* Zerando valores padrões dos navegadores */
  *{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
  }

  /* Sessão main */
  .sessao-principal{
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(
      to left,#7594FF,#263F94
    );
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

  }

  /* Titulo da sessão main */
  .titulo-section{
    text-align: center;
    font-size: 30px;
    color: #fff;
    font-family:var(--fonte-title--);
    text-shadow: 1px 1px .4rem #000;
    text-transform: capitalize;
  }

  /* Container do input e botão do todo list */
  .inputs-to-do-list{
    border: solid 1px #fff;
    box-shadow: 2px 2px 1rem #000;
    width: 70%;
    gap: 1rem;
    border-radius: .3rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  /* Selecionando input do tipo text */
  .inputs-to-do-list>.inputs>input[type="text"]{
    border: none;
    padding: 1rem 1rem;
    outline: none;
    border-radius: .4rem;
    margin: 5px;
    width:80%;
  }

  /* Selecionando input do tipo button */
  .inputs-to-do-list>.inputs>input[type="button"]{
    border: none;
    padding: .8rem .8rem;
    outline: none;
    border-radius: .4rem;
    cursor: pointer;
    color: #E0BA51;
    font-size: 15px;
    font-family: var(--fonte-subtitle--);
    background-color: #263F94;
    transition: all .3s ease-in-out;
  }

  /* Adicionando evento de hover no input button */
  .inputs-to-do-list>.inputs>input[type="button"]:hover{
    background-color: #fff;
    color: #263F94;
    border: solid 3px #263f94;
  }
 
  /* Container de tarefas */
  .container-wrapper{
    position: relative;
    border: none;
    box-shadow: 3px 3px 1rem #000;
    width: 70%;
    display: flex;
    border: solid 1px #fff;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    height: 25rem;
    border-radius: .4rem;
    overflow-y: auto;
    overflow-x:hidden;
    background-color: rgba(0, 0, 0, 0.446);
  }
  
  /* Estilizando scrollbar do container de tarefas */
  .container-wrapper::-webkit-scrollbar{
    width: 20px;
    border: solid 2px #000;
    border-radius: .4rem;
  }
  .container-wrapper::-webkit-scrollbar-thumb{
    background-color: #E0BA51;
    border-radius: .7rem;

  }
  .container-wrapper::-webkit-scrollbar-track{
    background-color: #5171E0;
    border-radius: .4rem;
  }

  /* Estilizando container da tarefa */
  .container-tarefas{
    position: absolute;
    top: 1rem;
    width: 90%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
  }
  
  /* Estilizando tarefa */
  .container-tarefas>li{
    position: relative;
    border-radius: .4rem;
    cursor:pointer;
    margin: 10px;
    list-style: none;
    height: 4.4rem;
    margin-top: 2rem;
    border: none;
    background-color: #4c577b;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: #fff;
    font-family:var(--fonte-title--);
    font-size: 45px;
  }

  /* Estilizando label da tarefa */
  li>#label{
    position: absolute;
    right:4rem;
    top: 3rem;
  }

  /* Colocando evento de check na tarefa */
  .container-tarefas>li>#label:checked + .label-check {
    text-decoration: line-through;
  }

  /* Estilização do botão voltar */
  .btn_voltar_port{
    display: block;
    border: none;
    background-color: rgb(37, 39, 53);
    width: 6rem ;
    text-align: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: .4rem .4rem;
    border-radius: .4rem;
    color: #fff;
    transition: all .4s;
    margin: 1rem 0;
    text-decoration: none;
  }

  /* Animação de hover no botão voltar */
  .btn_voltar_port:hover{
    transform: scale(1.1);
  }

  /* Responsividade */
  @media(max-width:492px){
    .inputs-to-do-list{
      width: 90%;
    }

    .container-wrapper{
      width: 90%;
    }
  }

  @media(max-width:300px){
    .container-tarefas>li{
      font-size:30px;
    }
  }


